<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>courses</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>courses</servlet-name>
        <servlet-class>com.leapfrog.coursedao.servlet.CourseServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>courses</servlet-name>
        <url-pattern>/courses</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>sAdd</servlet-name>
        <servlet-class>com.leapfrog.coursedao.servlet.CRUDCourseServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>sAdd</servlet-name>
        <url-pattern>/courses/add</url-pattern>
    </servlet-mapping>
    
     <servlet>
        <servlet-name>sEdit</servlet-name>
        <servlet-class>com.leapfrog.coursedao.servlet.CRUDCourseServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>sEdit</servlet-name>
        <url-pattern>/courses/edit</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>sDelete</servlet-name>
        <servlet-class>com.leapfrog.coursedao.servlet.CRUDCourseServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>sDelete</servlet-name>
        <url-pattern>/courses/delete</url-pattern>
    </servlet-mapping>
</web-app>
